* {
	box-sizing: border-box;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;

  }
  
  html {
	background: white;
	height: 100%;
	margin: 0;
  }

  body {
	margin: 0 auto 10%;
	font-family: Cera, Arial, Helvetica, sans-serif;
	text-align: center;
  }
  
  #logo {
	position: fixed;
	left: 30px;
	top: 20px;
	height: 6vh;
	fill: white;
  }
  #dna {
	  position: fixed;
	  height: 100%;
	  width: auto;
	  right: 5%;
	  opacity: 0.2;
  }

  p{
	  margin: 5px;
  }
  a{
	  color: black;
  }
  .quiz-box {
	  position: relative;
	  top: 15vh;
	  width: 60%;
	  background-color: white;
	  background-image: url("images/fon.png");
	  background-size: cover;

	  margin: auto auto 100px;
	  display: none;
	  box-shadow: 0 0 20px  rgb(0, 0, 0), 
	  			0 0 0 20px rgb(73, 93, 163);
	  height: auto;
	  border-radius: 8%;
  }
  h1 {
	  color: black;
	  text-align: left;
		margin: 0 8% 0 ;
		
  }
  h2 {
	color: grey;
	text-align: left;
	  margin: 20px 30px 5px;
}
  .quiz-img {
	  width: 60%;
	  margin: 5% auto 2%;
	  border: 1px solid black;
 }
.free-space{
	margin-right:28%;
	position: absolute;
}
.tab{
	width: 13%;
	height: auto;
	position: absolute;
	right: 8%;
	top: 50px;
}
 .ans-box {
	 width: 80%;
	 margin: 0 auto;
	 font-family: Cera, Arial, Helvetica, sans-serif;
 }

 .ans-button {
	 height: auto;
	 margin: 0 auto;
	 background-image: url("images/ans.png");
	 background-size: 100% 100%;
	 text-align: center;
	 padding: 25px 25px;
	 color: black;
	 margin-bottom: 5%;
 }
 .bottom-border {
	 margin-bottom: 0;
 }

 .next-button{
	 width: 120px;
	 height: auto;
	 padding: 70px 30px 10px;
	 margin: 60vh 0 20px auto;
	 background-image: url("images/botton.png");
	 background-size: contain;
	 background-position: center;
	 background-repeat: no-repeat;
	 text-align: right;
	 right: 0;
	 color: white;
	 font-size: small;
	 position: relative;
 }

 #next_0 {
	 margin: 20px 0 20px auto;
 }


  form {
	position: absolute;
	margin: 50px auto;
	transform: translate(-50%, -50%);
	top: 30%;
	left: 50%;
	width: 300px;
	height: 60px;
  }

  input {
	position: absolute;
	margin: 10vh auto;
	transform: translate(-50%, -50%);
	top: 50%;
	height: 75%;
  }

  #email-text{
	left: 40%;
	width: 70%;
	border: 2px solid rgb(0, 87, 182);
	border-radius: 6px;
	padding: 10px;
  }


  #email-button{
	left: 86%;
	width: 18%;
	border: 2px solid rgb(0, 87, 182);
	background-color: rgb(0, 87, 182);
	background-image: url("images/send-button.png");
	background-position: center;
	background-size: contain;

	background-repeat: no-repeat;
	border-radius: 6px;

}
